<div class="welcome-page">
  <div class="welcome-header">
    <span class="heading">Wanderlust</span>
    <span class="auth-btns">
      <%= link_to "LOG IN", new_user_session_path %>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </span>
  </div>
  <div class="wanderlust-details">
    <h2 class="heading">Your Ultimate Trip Planner</h2>
    <p>Those who start out going nowhere usually end up nowhere</p>
    <button class="home-action-btn">
      <%= link_to "Plan a trip", trips_path %>
    </button>
  </div>
</div>  
