/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "base";

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: 14px;
}

.signup-form,
.login-form,
.edit-user-form {
  p {
    color: white;
    font-size: 13px;
  }
}

.page-content {
  padding-top: 82px;
}
.page-title {
  margin-bottom: 50px;
  letter-spacing: -1px;
}
.section-title {
  font-size: 32px;
  color: $navbar-dark-blue;
  font-weight: 300;
  margin: 50px 0 10px;
  letter-spacing: -1px;
}

.form-control {
  width: 100%;
  padding: 10px 20px;
  height: unset;
}

.actions {
  margin: 40px 0 40px;

  .sign-in,
  .signup-btn {
    width: 100%;
  }
}

//---------------------------
// UTILITIES
//---------------------------
.logo {
  @include logo()
}

a.navbar-brand.logo {
  @include logo($font-size: 30px)
}

.form-heading.logo {
  @include logo($font-size: 30px, $margin: 3em 0 1.5em)
}

.button-pink,
a.button-pink {
  @include buttons($palette-pink, $white);
}

.nav-link-upper {
  @include nav-links()
}

.navbar-right li a.nav-link-lower {
  @include nav-links($letter-spacing: 0, $text-transform: none)
}

.cityscape-bg {
  background-image: image-url('cityscape.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-auth-text {
  @include user-auth-text()
}

.form-label {
  @include form-label()
}

// ----------------------------------
// Bootstrap Overrides:
// ----------------------------------

.navbar, .container, .navbar-header {
  &::before, &::after {
    content: none !important;
  }
}

.options-bar {
  background-color: $navbar-light-grey;
  padding: 15px;

  .title {
    color: $navbar-dark-blue;
    letter-spacing: -1px;
    margin: 0;
  }
}
