.welcome-page {
  padding: 70px;
}

.heading {
  color: #ffffff;
}

// .welcome-header {
//   padding: 50px;
// }

.auth-btns {
  float: right;
}

span.auth-btns a:nth-child(1) {
  padding-right: 20px;
}

.wanderlust-details {
  p {
    color: #ffffff;
  }

  h2 {
    width: 50%;
    font-size: 70px;
  }
}

