@import 'base';

.navbar {
  padding: 50px 0;
}

.wanderlust-details {
  p {
    color: $white;
    font-size: 16px;
    margin: 20px 0 50px;
  }

  h2 {
    color: $white;
    width: 50%;
    font-size: 80px;
    font-weight: 100;
    letter-spacing: -5px;

    @include respond-to(tablets) {
      width: 65%;
    }
  }
}
