.welcome-page {
 padding: 70px;
}

.heading {
 color: #ffffff;
}

.auth-btns {
 float: right;

  a:nth-child(1) {
    padding-right: 20px;
  }

  a {
    color: #ffffff;
  }

  a:hover {
    color: #D44679;
  }
}

.wanderlust-details {
  p {
    color: #ffffff;
  }

  h2 {
    width: 50%;
    font-size: 70px;
  }

  .heading {
    margin-top: 1em;
  }
}

.home-action-btn {
  background-color: #D44679;

  a {
    color: #ffffff;
  }
}
