<main class="page-content">
  <section class="container">
    <h1 class="section-title">Edit Activity</h1>
    <%= render 'form', trip: @trip, activity: @activity,  url: trip_activity_path(@trip) %>
    <%= link_to 'Back', trip_path(@trip) %>
  </section>
</main>
